body {
  align-items: center;
  display: flex;
  font-family: monospace;
  font-size: 16px;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body .frame {
  border-radius: 1rem;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  margin: 0;
}

header {
  align-content: center;
  justify-content: center;
  display: flex;
  grid-area: header;
}

header menu {
  align-content: center;
  align-self: flex-end;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: center;
  display: flex;
  flex: 1 1;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0.5rem 0 0.5rem;
}

header menu li {
  font-size: 1.25rem;
  line-height: 100%;
  min-width: 5rem;
  text-align: right;
}

header menu li:not(:first-child) {
  margin-left: 1rem;
}

#alive:after {
  content: '🌹';
  opacity: 0.5;
  padding-left: 0.5rem;
}

#dead:after {
  content: '🥀';
  opacity: 0.5;
  padding-left: 0.5rem;
}

#generations:after {
  content: '🤖';
  opacity: 0.5;
  padding-left: 0.5rem;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: main;
  justify-content: center;
}

main section {
  flex: 1 1;
}

main article {
  align-items: center;
  display: flex;
  flex: 0 1;
  justify-content: center;
}

main article div {
  align-self: flex-end;
  background-color: inherit;
  color: var(--dark-text-secondary);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: right;
}

main article div:not(:first-child) {
  margin-left: 2rem;
}

#dimensions:after {
  content: '🍩';
  opacity: 0.5;
  padding-left: 0.5rem;
}

#total:after {
  content: '🦠';
  opacity: 0.7;
  padding-left: 0.5rem;
}

main section {
  flex: 1 1;
}

main section canvas {
  margin: 1rem;
}

footer {
  align-items: start;
  display: flex;
  grid-area: footer;
  justify-content: center;
}

footer menu {
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex: 1 1;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  padding: 0.5rem 0.5rem 1rem;
}

footer menu li button {
  background-color: var(--yellow);
  border-radius: 1rem;
  color: var(--light-text-secondary);
  cursor: pointer;
  font-size: 4rem;
  line-height: 0.9;
  overflow: hidden;
  padding: 0;
}

#next:before {
  content: '⏭️';
  opacity: 0.5;
}

#play:before {
  content: '▶️';
  opacity: 0.5;
}

#pause:before {
  content: '⏸️';
  opacity: 0.5;
}

#seed:before {
  content: '🎲';
  font-size: 3rem;
  padding: 0 0.5rem;
  position: relative;
  bottom: 0.25rem;
}

footer menu li:not(:first-child) {
  margin-left: 0.125rem;
}

@media (max-width: 60rem), screen and (orientation: portrait) {
  body .frame {
    border-radius: 2rem;
  }

  header menu {
    margin: 0;
    padding: 1rem 0 0;
  }

  header menu li {
    min-width: 11rem;
  }

  main section {
    min-height: 1376px; /* 120 x 8px cell */
    min-width: 640px; /* 80 x 8px cell */
  }

  main section canvas {
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg) translate(0, -145%) scale(1.4);
  }

  main article div {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
  }

  main article div:not(:first-child) {
    margin-left: 4rem;
  }

  footer menu {
    padding: 1rem 2rem 2rem;
  }

  footer menu li:not(:first-child) {
    margin-left: 1rem;
  }

  footer menu li button {
    border-radius: 2rem;
    font-size: 7rem;
  }

  #seed:before {
    font-size: 4rem;
    padding: 0 1rem;
    position: relative;
    bottom: 0.75rem;
  }
}

a {
  background-color: inherit;
  color: var(--blue);
}
a:visited {
  background-color: inherit;
  color: var(--violet);
}

h1, h2, h3 {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
h4, h5, h6 {
  margin-bottom: 0.25rem;
  margin-left: 1rem;
  margin-right: 0.25rem;
  margin-top: 0.5rem;
}

p {
  margin: 1rem;
}

pre {
  font-family: monospace;
  margin: 1rem 1.5rem 1rem 1rem;
  padding: 1rem;
}

.bg.dark pre {
  background-color: var(--dark-bg-highlights);
  color: var(--dark-text-secondary);
}

.bg.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text-primary);
}
.dark .fg.highlight, .dark.fg.highlight {
  background-color: inherit;
  color: var(--dark-text-optional);
}
.dark .fg.secondary, .dark.fg.secondary {
  background-color: inherit;
  color: var(--dark-text-secondary);
}
.bg.dark.secondary {
  background-color: var(--dark-bg-highlights);
  color: var(--dark-text-primary);
}

.bg.light pre {
  background-color: var(--light-bg-highlights);
  color: var(--light-text-secondary);
}

.bg.light {
  background-color: var(--light-bg);
  color: var(--light-text-primary);
}
.light .fg.highlight, .light.fg.highlight {
  background-color: inherit;
  color: var(--light-text-optional);
}
.light .fg.secondary, .light.fg.secondary {
  background-color: inherit;
  color: var(--light-text-secondary);
}

.bg.light.secondary {
  background-color: var(--light-bg-highlights);
  color: var(--light-text-primary);
}

.bg.blue {
  background-color: var(--blue);
  color: inherit;
}
.bg.cyan {
  background-color: var(--cyan);
  color: inherit;
}
.bg.cyan {
  background-color: var(--cyan);
  color: inherit;
}
.bg.green {
  background-color: var(--green);
  color: inherit;
}
.bg.magenta {
  background-color: var(--magenta);
  color: inherit;
}
.bg.orange {
  background-color: var(--orange);
  color: inherit;
}
.bg.red {
  background-color: var(--red);
  color: inherit;
}
.bg.violet {
  background-color: var(--violet);
  color: inherit;
}
.bg.yellow {
  background-color: var(--yellow);
  color: inherit;
}

.fg.blue {
  background-color: inherit;
  color: var(--blue);
}
.fg.cyan {
  background-color: inherit;
  color: var(--cyan);
}
.fg.cyan {
  background-color: inherit;
  color: var(--cyan);
}
.fg.green {
  background-color: inherit;
  color: var(--green);
}
.fg.magenta {
  background-color: inherit;
  color: var(--magenta);
}
.fg.orange {
  background-color: inherit;
  color: var(--orange);
}
.fg.red {
  background-color: inherit;
  color: var(--red);
}
.fg.violet {
  background-color: inherit;
  color: var(--violet);
}
.fg.yellow {
  background-color: inherit;
  color: var(--yellow);
}

:root {
  --dark-bg: #002b36;
  --dark-bg-highlights: #073642;
  --dark-text-optional: #93a1a1;
  --dark-text-primary: #839496;
  --dark-text-secondary: #586e75;
  --light-bg: #fdf6e3;
  --light-bg-highlights: #eee8d5;
  --light-text-optional: #586e75;
  --light-text-primary: #657b83;
  --light-text-secondary: #93a1a1;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  --magenta: #d33682;
  --orange: #cb4b16;
  --red: #dc322f;
  --violet: #6c71c4;
  --yellow: #b58900;
  /* https://css-tricks.com/fitting-text-to-a-container/#aa-magic-number-it-with-viewport-units */
  --magic-font-size: 25.5vw;
}
